#accessibilityWidget {
  position: fixed;
  top: 150px;
  right: -300px;
  opacity: 0;
  width: 250px;
  max-height: calc(100% - 150px);
  overflow: hidden;
  overflow-y: auto;
  display: block;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 999;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
body.accessibilityOpen #accessibilityWidget {
  visibility: visible;
  display: block;
  opacity: 1;
  background-color: #000000;
  right: 15px;
}

#accessibilityWidget .accessibilityWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #666666;
  max-height: 100%;
}

#accessibilityWidget .accessibilityWrapper .accessibilityClose {
  position: absolute;
  right: 0;
  padding: 20px;
  color: #333333;
  z-index: 1;
  cursor: pointer;

  -webkit-box-shadow: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: rgba(255, 255, 255, 0.3);
  -o-box-shadow: rgba(255, 255, 255, 0.3);
  -ms-box-shadow: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.3);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#accessibilityWidget .accessibilityWrapper .accessibilityClose::after,
#accessibilityWidget .accessibilityWrapper .accessibilityClose::before {
  content: " ";
  display: block;
  position: absolute;
  height: 16px;
  top: 11px;
  width: 3px;
  background-color: #666666;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#accessibilityWidget .accessibilityWrapper .accessibilityClose::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#accessibilityWidget .accessibilityWrapper .accessibilityClose::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#accessibilityWidget .accessibilityWrapper .accessibilityHeader {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  background: #f0f0f0;
  padding: 5px 10px;
  color: #333333;
  line-height: 30px !important;
  font-size: 17px !important;
}
#accessibilityWidget .accessibilityWrapper .accessibilityHeader span {
  line-height: 30px !important;
  font-size: 17px !important;
}

#accessibilityWidget .accessibilityWrapper .accessibilityContent {
  position: relative;
  height: calc(100% - 60px);
  padding-bottom: 40px;
}
#accessibilityWidget .accessibilityWrapper .accessibilityContent::after {
  content: " ";
  display: table;
  clear: both;
  width: 100%;
}
#accessibilityWidget .accessibilityWrapper .accessibilityContent button span {
  line-height: 30px !important;
  font-size: 17px !important;
}
#accessibilityWidget .accessibilityWrapper .accessibilityContent button {
  position: relative;
  width: 50%;
  height: 25%;
  float: left;
  padding: 40px 0 5px;
  border: none;
  background-color: #f5f5f5;
  line-height: 20px !important;
  font-size: 14px !important;

  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
#accessibilityWidget
  .accessibilityWrapper
  .accessibilityContent
  button.accessibilityActive::after {
  content: " ";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  bottom: 3px;
  right: 3px;
  border: 3px solid #63ab31;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#accessibilityWidget .accessibilityWrapper .accessibilityContent button:hover,
#accessibilityWidget .accessibilityWrapper .accessibilityContent button:active {
  background-color: #e0e0e0;
  cursor: pointer;
}
#accessibilityWidget
  .accessibilityWrapper
  .accessibilityContent
  button.accessibilityActive {
  background-color: #c5c5c5;
}
#accessibilityWidget .accessibilityWrapper .accessibilityContent button svg,
#accessibilityWidget .accessibilityWrapper .accessibilityContent button img {
  position: absolute;
  left: 50%;
  top: 11px;
  width: 23px;
  height: 23px;
  margin-left: -15px;
}

#accessibilityWidget .accessibilityWrapper .accessibilityFooter {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 40px);
  background: #f0f0f0;
  padding: 5px 10px;
  color: #333333;
  line-height: 30px;
  text-align: center;
  line-height: 30px !important;
  font-size: 17px !important;
}
#accessibilityWidget .accessibilityWrapper .accessibilityFooter a {
  cursor: pointer;
  line-height: 30px !important;
  font-size: 17px !important;
}
#accessibilityWidget .accessibilityWrapper .accessibilityFooter span {
  line-height: 30px !important;
  font-size: 17px !important;
}
#accessibilityWidget .accessibilityWrapper .accessibilityFooter svg {
  fill: #666666;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
}

body.accessibilityInvertColors {
  -webkit-filter: invert(100%) !important;
  -moz-filter: invert(100%) !important;
  -o-filter: invert(100%) !important;
  -ms-filter: invert(100%) !important;
  filter: invert(100%) !important;

  overflow-x: hidden;
}
body.accessibilityStopAnimations,
body.accessibilityStopAnimations * {
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -o-transition: 0s !important;
  -ms-transition: 0s !important;
  transition: 0s !important;

  overflow-x: hidden;
}
body.accessibilityContrast {
  -webkit-filter: contrast(100%) !important;
  -moz-filter: contrast(100%) !important;
  -o-filter: contrast(100%) !important;
  -ms-filter: contrast(100%) !important;
  filter: contrast(100%) !important;

  background-color: #ffffff !important;
  color: #000000 !important;
  overflow-x: hidden;
}
body.accessibilityGrayScale {
  -webkit-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;

  overflow-x: hidden;
}
body.accessibilityGrayScale.accessibilityContrast.accessibilityInvertColors,
body.accessibilityGrayScale.accessibilityContrast.accessibilityInvertColors * {
  -webkit-filter: invert(100%) contrast(100%) grayscale(100%) !important;
  -moz-filter: invert(100%) contrast(100%) grayscale(100%) !important;
  -o-filter: invert(100%) contrast(100%) grayscale(100%) !important;
  -ms-filter: invert(100%) contrast(100%) grayscale(100%) !important;
  filter: invert(100%) contrast(100%) grayscale(100%) !important;

  color: #000000 !important;
  background-color: #ffffff !important;
  overflow-x: hidden;
}
body.accessibilityInvertColors.accessibilityContrast,
body.accessibilityInvertColors.accessibilityContrast * {
  background-color: #ffffff !important;
  color: #000000 !important;
  overflow-x: hidden;

  -webkit-filter: invert(100%) contrast(100%) !important;
  -moz-filter: invert(100%) contrast(100%) !important;
  -o-filter: invert(100%) contrast(100%) !important;
  -ms-filter: invert(100%) contrast(100%) !important;
  filter: invert(100%) contrast(100%) !important;
}
body.accessibilityHighLightLinks a {
  border: 4px solid #ff0000 !important;
}
body.accessibilityBigCursor,
body.accessibilityBigCursor *,
body.accessibilityBigCursor *:hover,
body.accessibilityBigCursor *:active {
  cursor: url("data:image/svg+xml,%3Csvg width='94.079' height='124.12' version='1.1' viewBox='0 0 94.079515 124.11976' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg%2Bxml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='matrix(.26766 0 0 .26766 .001606 .00032237)'%3E%3Cg transform='translate(-56.12 3.8532e-4)'%3E%3Cpath d='m407.45 224.87c0.85-6.517-1.983-13.317-7.65-16.717l-317.62-205.42c-5.1-3.4-11.9-3.683-17.283-0.567-5.383 3.117-8.783 8.783-8.783 15.017v363.23c0 6.517 3.683 12.183 9.35 15.3 5.667 2.833 12.75 2.267 17.85-1.7l90.1-67.433 82.45 129.2c3.117 5.1 8.783 7.933 14.45 7.933 2.833 0 5.95-0.85 8.5-2.267l84.15-48.733c3.967-2.267 6.8-6.233 7.933-10.767 1.133-4.533 0.283-9.35-2.267-13.033l-76.783-120.98 103.7-29.183c6.233-1.983 11.05-7.367 11.9-13.883zm-147.05 16.433c-5.1 1.417-9.35 5.383-11.333 10.2-1.983 5.1-1.417 10.767 1.417 15.3l79.333 125.23-54.683 31.733-83.017-130.9c-2.55-3.967-6.517-6.8-11.333-7.65-1.133-0.283-1.983-0.283-3.117-0.283-3.683 0-7.083 1.133-10.2 3.4l-77.633 58.083v-298.07l260.1 168.02z'/%3E%3C/g%3E%3Cpath d='m219.01 423.77c0-1.469-0.69303-2.9656-1.5401-3.3258-0.84704-0.36023-18.31-27.017-38.807-59.236-44.656-70.196-45.201-70.907-54.395-70.907-5.8205 0-12.922 4.4491-44.832 28.088-20.854 15.448-39.096 28.541-40.54 29.095-2.1738 0.83417-2.6237-23.963-2.6237-144.61 0-92.604 0.69275-145.61 1.9029-145.61 1.632 0 249.86 159.26 254.08 163.01 0.83861 0.7463-16.67 6.438-38.908 12.648-46.69 13.039-52.607 15.251-56.801 21.24-6.432 9.183-6.4788 9.0865 40.214 82.987 23.266 36.823 35.153 57.4 34.436 59.612-1.1539 3.5628-41.049 27.535-48.077 28.888-2.5405 0.48924-4.1079-0.22799-4.1079-1.8797z' fill='%23efefef' stroke-width='1.9649'/%3E%3C/g%3E%3C/svg%3E"),
    auto !important;
}

.accessibilityTriggerButton {
  position: fixed;
  right: 15px;
  top: 102px;
  background: #f0f0f0;
  max-height: 38px;
  max-width: 38px;
  box-sizing: border-box;
  padding: 2px;
  overflow: hidden !important;
  z-index: 999;

  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.accessibilityTriggerButton img,
.accessibilityTriggerButton svg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  fill: #444444 !important;
  height: 100%;
}
.accessibilityTriggerButton svg * {
  fill: #444444 !important;
}
.enabled[vw] {
  top: 50px;
  right: 15px;
  margin-top: 0;
}
.enabled[vw] img {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  -o-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  -ms-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  -moz-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
